


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  function validateForms() {
var cnt = document.forms["Form1"]["price"].value;
if (isNaN(cnt)) {
      alert("Invalid price");
      return false;
  }
 
}

  </script>
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  border-radius: 5%;
}

input[type=submit]:hover {
  background-color: #0d7e13;
 
}

.container {
  border-radius: 5px;
 
  padding: 20px;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
  margin-top: 2%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}




body{
    background-image: url("bck.jpg");
    background-color:green;background-image: url(gk1.jpg),url(bck.jpg);background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
.form{
    border-color:rgb(123, 228, 123);
    background-color: rgb(119, 192, 119);
    width:40%;
    
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 510px;;
    flex-direction: column;
    color: rgb(3, 73, 3);
    
}

form{
    width:80%;
    color:rgb(1, 65, 1);
    
   
}

.button {
 
 font-size: 22px;
 text-align: center;
 cursor: pointer;
 outline: none;
 color: #fff;
 background-color: #035306;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
 background-color: #3e8e41;
 box-shadow: 0 3px rgb(121, 136, 124);
 transform: translateY(4px);
}
</style>
</head>
<body>



<div class="container">
  <form> <button class="button" formaction="backfd" formmethod="Post"> Back to Home</button></form>

    <div class="form" style="box-shadow:20px 20px 50px 15px #072508; ">
        <h1>Add product</h1>
        Welcome   <%= acnt[0].phone %>
        <form method="post" action="productpost" enctype="multipart/form-data" name="Form1" onsubmit="return validateForms()">


    <div class="row">
      <div class="col-25">
        <label for="catagory"> Select Catagory:</label>
      </div>
      <div class="col-75">
        <select name="catagory" id="catagory" required>
            <option value="Cabbage">Cabbage</option>
            <option value="Carrot">Carrot</option>
            <option value="Mushroom">Mushroom</option>
            <option value="Onion">Onion</option>
            <option value="Carrot">Carrot</option>
            <option value="Cauliflower">Cauliflower</option>
            <option value="Tomato">Tomato</option>
            
            <option value="bitterGourd">bitterGourd</option>
            
            <option value="LadysFinger">LadysFinger</option>
          </select>
      </div>


    </div>
    <div class="row">
      <div class="col-25">
        <label for="house">Type</label>
      </div>
      <div class="col-75">
        <input type="text" id="type" name="type" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="phone">Price</label>
      </div>
      <div class="col-75">
        <input type="text" id="price" name="price" required>
      </div>
    </div>


      <div class="row">
        <div class="col-25">
          <label for="place">Avilability</label>
        </div>
        <div class="col-75">
          <select name="avilability" id="avilability" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="image">Product image</label>
        </div>
        <div class="col-75">
          <input type="file" name="image" id="image" required />
          </div>
        </div>


        <div class="row" style="visibility:hidden">
       
            <div class="col-75">
              <input type="text" id="fphone" name="fphone" value=<%= acnt[0].phone %>>
              <input type="text" id="fname" name="fname" value=<%= acnt[0].name %>>
            </div>
          </div>
     
     
   
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form></div>
</div>

</body>
</html>
